/*! ESTILO GENERAL !*/

* {
  margin: 0;
  padding: 0;
}

/** BODY **/
.body {
  background-color: #232323;
  height: 100%;
}

/*! - - - - - - - - - - - - - - - x - - - - - - - - - - - - - - - !*/

/** MENU **/
.nav {
  background-color: rgb(221, 20, 20);
  position: fixed;
  height: 0;
  z-index: 5;
  width: 0;
}

#menuToggle {
  display: block;
  position: relative;
  top: 2em;
  left: 1em;
  z-index: 5;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: white;
  font-family: 'Bangers', cursive;
  font-weight: 100;
  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: violet;
}

#menuToggle input {
  display: block;
  width: 5em;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 6;
  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 2em;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: white;
  background-attachment: fixed;
  cursor: pointer;
  border-radius: 3px;
  z-index: 6;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked~span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #ffffff;
  cursor: pointer;
}

#menuToggle input:checked~span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked~span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  width: 13em;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  height: 100vh;
  background: #000000;
  z-index: 5;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked~ul {
  transform: none;
}

/*! - - - - - - - - - - - - - - - x - - - - - - - - - - - - - - - !*/

/** FOOTER **/
.footer {
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: black;
}

.btn-cssbuttons {
  --btn-color: black;
  width: 100%;
  position: relative;
  padding: 16px 32px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  font-family: 'Bangers', cursive;
  font-size: 120%;
  color: white;
  background: none;
  border: none;
  outline: none;
  overflow: hidden;
  cursor: pointer;
  filter: drop-shadow(0 2px 8px rgba(39, 94, 254, 0.32));
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.btn-cssbuttons::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: var(--btn-color);
  border-radius: 24px;
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.btn-cssbuttons span,
.btn-cssbuttons span span {
  display: inline-flex;
  vertical-align: middle;
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.btn-cssbuttons span {
  transition-delay: 0.05s;
}

.btn-cssbuttons span:first-child {
  padding-right: 7px;
}

.btn-cssbuttons span span {
  margin-left: 8px;
  transition-delay: 0.1s;
}

.btn-cssbuttons ul {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  transform: translateY(-50%);
}

.btn-cssbuttons ul li {
  flex: 1;
}

.btn-cssbuttons ul li a {
  display: inline-flex;
  vertical-align: middle;
  transform: translateY(55px);
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.btn-cssbuttons ul li a:hover {
  opacity: 0.5;
}

.btn-cssbuttons:hover::before {
  transform: scale(1.2);
}

.btn-cssbuttons:hover span,
.btn-cssbuttons:hover span span {
  transform: translateY(-55px);
}

.btn-cssbuttons:hover ul li a {
  transform: translateY(0);
}

.btn-cssbuttons:hover ul li:nth-child(1) a {
  transition-delay: 0.15s;
}

.btn-cssbuttons:hover ul li:nth-child(2) a {
  transition-delay: 0.2s;
}

.btn-cssbuttons:hover ul li:nth-child(3) a {
  transition-delay: 0.25s;
}

/*! - - - - - - - - - - - - - - - x - - - - - - - - - - - - - - - !*/

/*! ESTILO index.html !*/

/** MAIN **/
.body-index {
  display: flex;
  flex-wrap: wrap;
}

.section-1 {
  background-image: url(/images/index/bg-body.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
}

.main {
  background: #e2006c;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

/*? SECTION ?*/
.section {
  height: 100%;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}

/*? TITULO ?*/

.tittle {
  background-color: #f6f6f4;
  border-radius: 20px;
  text-align: center;
  width: 100%;
  font-family: 'Abril Fatface', cursive;
  font-size: 2em;
}

/*? ARTICLE ?*/
.article {
  background-color: #fca402;
  width: 100%;
  border: solid 1px black;
  border-radius: 5em;
  height: 16%;
  display: flex;
  align-items: center;
}

.fecha {
  width: 50%;
  padding-left: 2em;
  font-family: 'Abril Fatface', cursive;
  text-align: start;
  font-size: 1.5em;
  color: #f6f6f4;
}

/*? BOTON ?*/
.ticket {
  display: flex;
  justify-content: center;
  width: 50%;
}

.button {
  padding: 0.9em 1.8em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 4px;
  color: transparent;
  border: 5px solid #f6f6f4;
  border-radius: 5em;
  font-size: 14px;
  position: relative;
  font-family: inherit;
  background: transparent;
  cursor: pointer;
}

.button::before {
  content: "Ticket";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(29, 29, 27);
  border-radius: 5em;
  color: #f6f6f4;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

.button:hover::before {
  left: 100%;
  transform: scale(0) rotateY(360deg);
  opacity: 0;
}

.button::after {
  content: "Comprar";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: rgb(29, 29, 27);
  border-radius: 5em;
  color: #f6f6f4;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  transform: scale(0) rotateY(0deg);
  opacity: 0;
}

.button:hover::after {
  left: 0;
  transform: scale(1) rotateY(360deg);
  opacity: 1;
}

/*! --------------------------------------------------- *!/

/*! ESTILO banda.html !*/

/** MAIN **/

.section-banda {
  background-image: url(/images/banda/bg2.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  border-bottom: white solid 0.2em;
}

.body-banda {
  background-color: rgb(0, 0, 0);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main-2 {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/images/banda/bg.jpg);
  border: white solid 0.2em;
  border-radius: 15em;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 200vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/*? cards ?*/

.container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 30%;
  margin: 1em;
}

.card {
  border: rgb(255, 255, 255) solid 0.2em;
  position: relative;
  width: 70%;
  height: 80%;
  background: #000000;
  border-radius: 5em;
  overflow: hidden;
  cursor: pointer;
}

.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(175, 85, 175);
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
}

.card:hover:before {
  clip-path: circle(300px at 80% -20%);
}

.card:after {
  content: "mona";
  position: absolute;
  top: 30%;
  left: -20%;
  font-size: 12em;
  font-weight: 800;
  font-style: italic;
  color: rgba(255, 255, 25, 0.05);
}

.imgBx {
  position: absolute;
  top: 30%;
  left: 15%;
  transform: translateY(-50%);
  width: 70%;
  height: 50%;
  transition: 1s;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  z-index: 2;
}

.card:hover .imgBx {
  top: 0%;
  transform: translateY(0%);
}

.imgBx img {
  position: relative;
  width: 80%;
  height: 100%;
  border-radius: 10em;
}

.contentBx {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 7em;
  text-align: center;
  transition: 1s;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card:hover .contentBx {
  height: 14em;
}

.contentBx h2 {
  position: relative;
  bottom: -20%;
  font-weight: 100;
  letter-spacing: 0px;
  font-family: 'Bangers', cursive;
  color: #fff;
  width: 100%;
  z-index: 1;
}

.contentBx a {
  display: inline-block;
  padding: 1em;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
  margin-top: 0;
}

.card:hover .contentBx a {
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.75s;
}

/*! - - - - - - - - - - - - - - - x - - - - - - - - - - - - - - - !*/

/*! ESTILO historia.html !*/

/** MAIN **/

.section-img {
  height: 100vh;
  background: url(/images/historia/mona-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.main-3 {
  display: flex;
  justify-content: center;
  background: url(/images/historia/mona-2.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.section-historia {
  background: linear-gradient(rgba(1, 1, 1, 0.9), rgba(1, 1, 1, 0.9));
  width: 50%;
  padding: 2em;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

/*? section ?*/

/*? article ?*/

.article-h h1 {
  color: rgba(238, 255, 0, 0.651);
  font-family: 'Bangers', cursive;
  font-weight: 100;
  letter-spacing: 1px;
}

.article-h p {
  color: #f5f5f59f;
  font-family: 'Playfair Display', serif;
}

/*! - - - - - - - - - - - - - - - x - - - - - - - - - - - - - - - !*/

/*! ESTILO discografia.html !*/

/** MAIN **/

.main-container {
  background-color: black;
  display: flex;
  justify-content: center;
}

.main-d {
  background: url(/images/discografia/bg2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  border: white 2px solid;
  border-radius: 15em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 4em;
  gap: 1em;
  width: 80%;
  height: 100%;
  margin-top: 3em;
  margin-bottom: 3em;
}

.section-d {
  width: 15em;
  height: 15em;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/*? card ?*/
.box {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  width: 15em;
  height: 15em;
}

.card-d {
  position: relative;
  width: 15em;
  height: 15em;
  border: white solid 2px;
  margin: 0 auto;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
}

.card-d:before,
.card-d:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background: #fff;
  transition: 0.5s;
  z-index: -1;
}

.card-d:hover:before {
  transform: rotate(20deg);
  box-shadow: 0 2px 20px rgba(0, 0, 0, .2);
}

.card-d:hover:after {
  transform: rotate(10deg);
  box-shadow: 0 2px 20px rgba(0, 0, 0, .2);
}

.card-d .imgBx-d {
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  background: #222;
  transition: 0.5s;
  z-index: 1;
}

.card-d:hover .imgBx-d {
  bottom: 80px;
}

.card-d .imgBx-d img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-d .details {
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 10px;
  height: 60px;
  text-align: center;
}

.card-d .details h2,
a {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 20px;
  color: white;
  font-family: 'Abril Fatface', cursive;
  text-transform: uppercase;
  text-decoration: none;
  list-style: none;
}

.card-d .details h2 span {
  font-weight: 500;
  font-size: 16px;
  color: #f38695;
  display: block;
  margin-top: 5px;
}

/*! - - - - - - - - - - - - - - - x - - - - - - - - - - - - - - - !*/

/*! ESTILO media.html !*/

/** MAIN **/

.main-media {
  background: url(/images/media/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  height: 200vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.section-media {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  border-radius: 5em;
  border: white solid 5px;
  height: 90%;
  width: 70%;
  margin-top: 3em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  padding: 1em;
  gap: 1em;
}

.card-media {
  border: white solid 2px;
  width: 100%;
  height: 22%;
  background-image: linear-gradient(163deg, #00ff4c 0%, #ff00d0 100%);
  border-radius: 3em;
  transition: all .3s;
}

.card2 {
  width: 100%;
  height: 100%;
  border-radius: 3em;
  transition: all .2s;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card2 a {
  text-decoration: none;
  color: aliceblue;
  letter-spacing: 1px;
  font-weight: 100;
  font-size: 150%;
  font-family: 'Bangers', cursive;
}

.img1 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/media/art1.jpg);
  background-size: cover;
  background-position: center 10%;
  background-repeat: no-repeat;
}

.img2 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/media/art2.jpg);
  background-size: cover;
  background-position: center 40%;
  background-repeat: no-repeat;
}

.img3 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/media/art3.jpg);
  background-size: cover;
  background-position: center 20%;
  background-repeat: no-repeat;
}

.img4 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/media/3.jpg);
  background-size: cover;
  background-position: center 40%;
  background-repeat: no-repeat;
}

.card2:hover {
  transform: scale(0.96);
  border-radius: 3em;
}

.card:hover {
  box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
}

